
.react-confirm-alert-body > h1 {
    font-size: 24px !important;
}

.react-confirm-alert-button-group {
    justify-content: center !important;
}

.react-confirm-alert-body {
    text-align: center !important;
}

.react-confirm-alert-button-group > button {
    color: white !important;
}

    .react-confirm-alert-button-group > button:nth-child(1) {
        background-color: #32CD32 !important;
        transition: all .2s ease-in-out;
    }

    .react-confirm-alert-button-group > button:nth-child(2) {
        background-color: #DC143C !important;
        transition: all .2s ease-in-out;
    }

    .react-confirm-alert-button-group > button:hover {
        transform: scale(1.1);
    }





    .react-confirm-alert-button-group > button:nth-child(1) {
        background-color: #21ba45 !important;
        transition: all .2s ease-in-out;
    }

    .react-confirm-alert-button-group > button:nth-child(2) {
        background-color: #a1a1a1 !important;
        transition: all .2s ease-in-out;
    }


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

    .product-list .card {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }


.product-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.product-images {
    flex-basis: 50%;
}

.product-details {
    flex-basis: 50%;
}

@media (max-width: 768px) {
    .product-detail-container {
        flex-direction: column;
    }
}

#carausel {
    max-width: 50% !important
}

.slideLeft {
    left: 0 !important;
    position: sticky;
}

.slideRight {
    right: 0 !important;
    position: sticky;
}

.cartControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    margin-top:2rem
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

    .quantity-controls button {
        background-color: #f0f0f0;
        border: none;
        padding: 5px 10px;
    }

    .quantity-controls span {
        margin: 0 10px;
    }


.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

.btnLogin {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btnLogin:hover {
        background-color: #0056b3;
    }

p {
    text-align: center;
    margin-top: 20px;
}

    p a {
        color: #007bff;
        text-decoration: none;
    }


.card-body :where(p), .product-details p{
    text-align: left;
}

.App{
    min-height:100vh
}