
.vs/ETicaretCaseMovetech/FileContentIndex/4bc203f0-a90b-4b55-af72-ea404b271b34.vsidx
.vs/ETicaretCaseMovetech/FileContentIndex/8f7ea5cb-37b0-4206-8b75-c589881e2bec.vsidx
.vs/ETicaretCaseMovetech/FileContentIndex/547f49ac-5c90-4009-be4d-89936b8c3aea.vsidx
.vs/ETicaretCaseMovetech/FileContentIndex/c670b59f-bd9e-4d3c-8ecb-a6224405e41f.vsidx
.vs/ETicaretCaseMovetech/FileContentIndex/f104cebd-230a-4847-af1f-e9c06a0d5f25.vsidx
*.vsidx
